/*=============== copyright 2025 Mari & Denny ===============*/

/*-----------------------------------*\
  #VARIÁVEIS
\*-----------------------------------*/

:root {
  /*==== colors ====*/
  --roxo-claro:hsl(300, 100%, 50%);
  --roxo-medio: #ba5cf0;
  --roxo-medio1: #c59edc;
  --roxo-escuro: hsla(273, 83%, 55%, 0.3);
  --roxo-escuro1:hsl(278, 58%, 41%);
  --amarelo:#fdb42b;
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(0, 0%, 0%);
  --bg-color: rgba(17, 17, 17, 0.95);
  --gradient-color: linear-gradient(43deg, #2e5789 0%, #af14bf 46%, #ac70ff 100%)

  /*==== gradiente ====*/
  --gradient1: linear-gradient(
    to right bottom,
    linear-gradient(43deg, #2e5789 0%, #af14bf 46%, #ac70ff 100%)
  );

  --gradient2: linear-gradient(
    to right bottom,
    hsl(332, 100%, 95%),
    hsl(295, 100%, 63%),
    hsl(261, 100%, 57%)
  );

  
  --gradient3: linear-gradient(
    hsl(261, 100%, 57%),
    hsl(251, 100%, 24%),
    hsl(241, 100%, 9%)
  );

  /*====cor do texto ====*/
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);

  /*==== tipografia ====*/
  --ff-poppins: 'Poppins', sans-serif;
  --ff-cinzel: 'Cinzel', sans-serif;
  --ff-Montserrat: 'Montserrat', sans-serif;
  --ff-Marmelada: 'Marmelad', sans-serif;

  /*==== Tamanho da fonte ====*/
  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.7rem;
  --fs-5: 1.6rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  /*==== negrito ====*/
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /*==== espaçamento ====*/
  --section-padding: 60px;

  /*==== border radius ====*/
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /*==== borda ====*/
  --border: hsl(40, 23%, 3%);
  --border-30: hsla(273, 83%, 55%, 0.3);

  /*==== sombra ====*/
  --shadow: 0 0 20px rgba(0, 0, 0, 0.7); /*horizontal/vertical/desfoque/espelhamento*/

  /*==== transição ====*/
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /*==== clip path ====*/
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit; /*herda da div pai*/
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

address {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #7206ac;
  color: var(--text-gainsboro);
  font-family: var(--ff-Marmelada);
  font-size: var(--fs-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
  height: 10000px; /*apenas para mostrar a barra de rolagem*/
  font-weight: bold;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(278, 83%, 65%);
}

.h1,
.h2,
.h3{
  font-family: var(--ff-Montserrat);
  line-height: 1.2;
}

.w-100{
  width: 100%;
}

.text-center{
  text-align: center;
}

.section-subtitle{
  color:var(--amarelo);
  font-family: var(--ff-Marmelada);
  font-size: var(--fs-6);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  margin-block-end: 10px;
}

/*-----------------------------------*\
  #Estilo reutilizavel
\*-----------------------------------*/

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.btn{
  position: relative;
  background-color: var(--gradient-color);
  color: var(--text-white);
  font-size: var(--fs-8);
  font-weight: var(--weight-semiBold);
  min-width: 120px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  border: #a644db;
  border-radius: 15px;
  transition: transform 0.7s ease, color 0.6s ease;
  box-shadow: 0 5px 10px hsl(273, 100%, 17%);
}

.btn:hover{
  color: var(--roxo-escuro1);
  background-color: var(--white-color);
  transform: scale(1.05);
}

.search-btn{
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--fs-5);
  color: var(--white-color);
  margin-left: 1rem;
  transition: transform 0.2s ease,color 0.3s ease;
}

.search-btn:hover{
  transform: scale(1.2);
  color: var(--roxo-medio);
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.logo img{
  width: 120px;
  height: auto;
  object-fit: contain;
  display: block;
}

.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--roxo-escuro1);
  padding: 0px 12px;
  z-index: 4;
  box-shadow: var(--shadow);
  border-radius:  0  0px 20px 20px;
}

.header.active{
  position: fixed;
  animation: slideUP 0.8s ease forwards;
}

@keyframes slideUP  {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
  
}



.navbar-list{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.navbar-link{
  transition: 0.3s;
}

.navbar-link:hover{
  color:var(--roxo-medio1);
}

.nav-toggle-btn{
  display: none;
}

.navbar,
.navbar-active{
  all: unset;
  display: block;
}


/*dropdown*/

.dropdown-toggle{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}



.dropdown-item{
  position: relative;
  
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: var(--roxo-medio);
  box-shadow: 0 5px 10px hsl(278, 83%, 65%); 
  border-radius: 10px;
  min-width: 150px;
  padding: 0.5rem 0;
  z-index: 10;
  flex-direction: column;
  gap: 15px;
}

.dropdown-link{
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  transition: background 0.3s, color 0.3s;
  font-size: 15px;
}

.dropdown-link:hover{
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--roxo-escuro1);
  transition: transform 0.8s ease, color 0.7s ease;
}

.dropdown-item.active .dropdown-menu{
  display: flex;
}

/*Overlay*/
.search-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out ;
}

/*imput*/

.search-container{
  width: 90%;
  max-width: 100%;
}


.search-input{
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 1.2rem 1.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  outline: none;
  color: var(--roxo-escuro1);
  box-shadow: 0 0 10px hsl(276, 100%, 98%);
}

.search-input::placeholder{
  color: var(--roxo-medio);
  
}

.close-btn{
  position: absolute;
  top: 45px;
  right: 50px;
  font-size:2rem ;
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  transition: transform 0.2s ;
}

.close-btn:hover{
  transform: rotate(90deg);
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: scale(0.9);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
  
}

/*Banner*/
.banner video{
  /*position: absolute;*/
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/*galeria*/
.container-galeria{
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
  margin-block-end: 50px;
  color: var(--white-color);
  transition: all 0.6 s ease;
}

.container-galeria:hover{
  color: var(--amarelo);
  transition: all 0.3s ease;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  width: 100%;
  gap: 15px ;
  transition: transform 0.8s ease;
}

.section{
  padding-block: var(--section-padding);
}

.galeria img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  cursor: pointer;
  gap: 10px;
  filter: grayscale(100%);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 30px #000000;
}

.galeria img:hover{
  transform: scale(1.03);
  filter: grayscale(0%);
}

.botao-ver-mais{
  display: flex;
  justify-content: flex-end;
  margin: 20px 5% 40px;
}

.btn-ver-mais{
  display:inline-flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--roxo-medio1);
  color: var(--white-color);
  padding: 12px 20px;
  background-color: transparent;
  text-decoration: none;
  font-weight: var(--weight-bold);
  border-radius: var(--radius-5);
  font-size: 28px;
  transition: all 0.3s ease;
}

.btn-ver-mais:hover{
  background-color: var(--roxo-medio);
  color: var(--white-color);
  transform: scale(1.05);
}

.btn-ver-mais ion-icon{
transition: transform 0.3s ease;
}

.btn-ver-mais:hover ion-icon{
  transform: translateX(5px);
}

/*lightbox*/

.lightbox{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4 ease forwards;
  z-index: 40;
}

/*escurecer fundo*/
@keyframes fadeIn {
  from{
    opacity: 1;
  }
  to{
    opacity: 1;
  }
  
}

.lightbox img{
 max-width: 90%;
 max-height: 90%;
 opacity: 0;
 transform: scale(0.8);
 animation: zoomIn 0.4s ease forwards;
}

/*amplia a imagem*/
@keyframes zoomIn{
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.lightbox.show{
  display: flex;
}

#pacotes{
  scroll-margin-top: 140px;
}



/*serviços*/
.service-banner{
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
}

.service{
  padding-block-end: 0;
}

.container-serv{
  padding-inline: 30px;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--white-color);
  gap: 80px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-title{
  color: var(--amarelo);
}

.card-text {
  color: var(--roxo-escuro1);
}

.service-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-icon {
  width: 50px;
  flex-shrink: 0;
}


.section{
 padding-block: var(--section-padding);
}

.service, .section-title{
  margin-block-end: 50px;
}
.text-center{
  text-align: center;
}

.card-text{
  line-height: 1.2;
  font-size: 18px;
}

.service-card, .card-title{
  font-size: 32px;
  margin-block-end: 8px;
}

.service-card{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-height: 100%;
  border-radius: var(--radius-5);
  border: 3px solid var(--roxo-escuro);
  padding: 30px;
  transition: transform 0.3 ease, box-shadow 0.3s ease;
}

.service-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px hsl(280, 4%, 54%); 
}

/*login*/

.container-login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper{
  position: relative;
  width: 750px;
  height: 450px;
  background-color: transparent;
  border:  3px solid var(--amarelo);
}

.wrapper .form-box{
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ba5cf0;
}

.form-box h2{
  font-size: var(--fs-2);
  color: var(--white-color);
  text-align: center;
}

.form-box .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  background-color: var(transparent);
  border-bottom: 4px solid var(--amarelo);
  border: none ;
  color: var(--white-color);
  font-size: 14px;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 14px;
  color: var(--white-color);
  transform: translateY(-50%);
  transition: 0.5s;
}

.input-box ion-icon{
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 16px;
  color: var(--white-color);
  transform: translateY(-50%);
  transition: 0.5s;
}